body   {
background-color: hsla(0, 100%, 90%, 0.3);

  font-family: "Sofia", sans-serif;
  text-align: center;
  margin-top: 50px;
}
p1 {
color:pink;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 font-size: 40px;
 font-family: "Sofia", sans-serif;
  text-shadow: 2px 2px 5px white;
}
p2 {
border-radius: 8px;
background-color: none;
 color: black;
 border: 2px solid #e7e7e7;
 padding: 24px;
}
.flex-container {
display: flex;
align-content: flex-start;
justify-content: center;
}
ul {
 text-align: left;
border-radius: 12px;
 padding: 20px;
font-family: "Sofia", sans-serif;


}



.button {
  display: inline-block;
  border-radius: 50px;
  background-color: hsla(0, 100%, 70%, 0.3);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {background-color:hsla(0, 100%, 70%, 0.3) ;}
  to {background-color: yellow;}
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

p3 {
  font-weight: bold;
  display: flex;
	align-content: flex-start;
	justify-content: center;
background: ;
;
	border-radius: 25px;
  padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
  width: auto;
  height: auto;
}

#Image {
display: none;
  height: 50%;
  width: 50%;
}
img {
  height: 50%;
  width: 50%;
}


div {
  background-color: pink;
  padding: 20px;
  display: none;
}

span:hover + div {
  display: block;
border-radius: 12px;




}
